@import "bourbon";
@import "font-awesome";

body {
  background: #ccc;
  text-align: center;
}

img{
  height: auto;
  width:200px;

}

div{
  width: 400px;
  margin: auto;
}

.wrapper{
  width: 1200px;
  margin: 100px auto;
}